*{
	margin: 0;
	padding: 0;
}
#wrapper {
	width: 100%;
}

#main {
	width: 100%;
	max-width: 1000px;
	min-width: 600px;

	margin: auto;
}

#header {
	height: 250px;
	position: relative;
}

#header h1 {
	display: block;
	padding: 10px 30px 10px 90px;
	font-size: 64pt;
	position: absolute;
	left: 0;
	bottom: 40px;
}
#header nav {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
}

#header nav a {
	flex: 1 1 25%;
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}


#content{
	padding: 5px 30px;
	box-sizing: border-box;
}

#content ul, #content ol{
	margin-left: 20px;
}
#content>ul, #content>ol{
	margin: 10px 0 5px 20px;
}

#content h2, #content h3, #content h4 {
	margin: 10px 0 5px 0;
}

#content c {
	color: #00BFFF; /* Gehört eigentlich in Visio rein*/
	font-size: 20pt;
}
#content p {
	margin-bottom: 5px;
}

#content table{
	margin-bottom: 10px;
}

#footer {
	height: 40px;
}

#footer a {
	padding: 0 6px 0 6px;
}

#footer p {
	text-align: center;
	line-height: 40px;
}

.image_container {
	display: flex;
	padding: 10px;
	max-width: 100%;
	margin: 10px 10px;
}

.image_container img {
	max-width: 100%;
	max-height: 100%;
}

.half {
	width: 50%;
}

.flex_container {
	display: flex;
	align-items: flex-start;
}

.tabular_container {
	display: table;
	width: 100%;
}

.tabular_row {
	display: table-row;
}

.tabular_row > * {
	display: table-cell;
}

form fieldset {
	padding: 5px;
	margin: 0 10px 10px 0;
}

form fieldset legend {
	margin-left: 15px;
	padding: 0 3px;
}

form label {
	text-align: right;
}

form label.lcheckbox{
	text-align: left;
}

form input, form select {
	width: 90%;
	margin: 5px;
	padding: 3px;
	box-sizing: border-box;

}

form button {
	margin: 10px;
	padding: 5px;
}

form input[type="checkbox"] {
	width: 16px;
	height: 16px;
}
